/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    margin: 0px;
    padding: 0px;
    background-image: url('../img/back.jpg');
    opacity: 0.85;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    background-color: white;
    margin:auto;
    width: 1200px; 
    padding: 0;
    border:2px solid #CBCDCE;
    border-radius: 5px;
}
.form-container{
    background-color: white;
    margin: auto;
    width: 1000px;
    padding: 0;
    border:2px solid #CBCDCE;
    border-radius: 5px;
}
.projectlist{
    list-style-type:none;
    padding: 0;
    margin:10px;
}
.projectlist-item{
    margin: 0;
    font-size: 14pt;
    font-weight: bold;
}

.tasklist li.isstart span{
    background: blue;
}
.tasklist-item-month{
    width: 180px;
    display: inline-block;
    text-decoration: none
}

.tasklist-item-check{
    margin: 0;
    display: inline;
    width: 100px;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 18pt;
    color:grey;
}
header{
    background-color:#346390;
    height: 200px;
    background-repeat: no-repeat;
}
.maintitle{
    margin-top: 80px;
    float: left;
    width: 500px;
    text-align: center;
}
.maintitle a{
    font-family: arial;
    font-size: 40pt;
    color:white;  
}
header img{
    margin: 20px;
    margin-right: 150px;
    float: right;
    border-radius:50%;
    width: 90px;
    height: 160px;
}
.plus {
    margin: 0;
    margin-right: 20px;
    text-align: right;
}
.plus a{
    font-size: 40pt;
    color: #4d94ff;
}

footer{
    background-color: #A19B9B;
    border-top: 3px solid black;
}
footer p {
    font-size: 14pt;
    margin: 0;
    text-align: center;
}
form{
    color: #ff8566;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 175px;
    font-size: 16pt;
}
.submit{
    text-align: center;
    margin: auto;
}

